<a href="https://colab.research.google.com/github/Stitaprajna/Practise-codes/blob/main/NSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import requests
import pandas as pd
import json
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [76]:
class NseIndia:
    def __init__(self):
        self.headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) Apple'
                        'WebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.134 Safari/537.36'}
        self.session = requests.Session()
        self.session.get('https://www.nseindia.com', headers= self.headers)
        
        
    def Data(self):
        data = self.session.get('https://www.nseindia.com/api/option-chain-indices?symbol=NIFTY', headers= self.headers)
        return data
nse = NseIndia()
l=nse.Data()

In [77]:
d = l.json()

In [93]:
lst = []
for i in d['filtered']['data']:
  lst.append(i['CE'])

In [97]:
df4 = pd.DataFrame(lst)
lst1 = []
for i in df4.columns:
  lst1.append('call_'+i)

In [100]:
df4.columns = lst1

In [102]:
df4.head()

,call_strikePrice,call_expiryDate,call_underlying,call_identifier,call_openInterest,call_changeinOpenInterest,call_pchangeinOpenInterest,call_totalTradedVolume,call_impliedVolatility,call_lastPrice,call_change,call_pChange,call_totalBuyQuantity,call_totalSellQuantity,call_bidQty,call_bidprice,call_askQty,call_askPrice,call_underlyingValue
0,13800,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13800.00,928,-39,-4.033092,47,0.0,2916.15,176.15,6.428832,4400,750,200,2908.10,700,2923.45,16719.45
1,13850,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13850.00,2,0,0.000000,0,0.0,2235.70,0.00,0.000000,0,1250,0,0.00,1250,3650.80,16719.45
2,13900,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13900.00,6,-1,-14.285714,5,0.0,2821.90,216.40,8.305508,2850,200,50,2806.05,100,2827.30,16719.45
3,13950,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13950.00,1,0,0.000000,0,0.0,2613.85,0.00,0.000000,1250,50,1250,1881.10,50,3456.55,16719.45
4,14000,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE14000.00,9949,-699,-6.564613,979,0.0,2722.30,130.35,5.029032,5650,1000,50,2715.05,50,2724.85,16719.45

In [131]:
df4.rename(columns = {'call_expiryDate':'expiryDate','call_strikePrice':'strikePrice','call_underlying':'underlying','call_identifier':'identifier'}, inplace=True)

In [132]:
df4.head()

,strikePrice,expiryDate,underlying,identifier,call_openInterest,call_changeinOpenInterest,call_pchangeinOpenInterest,call_totalTradedVolume,call_impliedVolatility,call_lastPrice,call_change,call_pChange,call_totalBuyQuantity,call_totalSellQuantity,call_bidQty,call_bidprice,call_askQty,call_askPrice,call_underlyingValue
0,13800,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13800.00,928,-39,-4.033092,47,0.0,2916.15,176.15,6.428832,4400,750,200,2908.10,700,2923.45,16719.45
1,13850,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13850.00,2,0,0.000000,0,0.0,2235.70,0.00,0.000000,0,1250,0,0.00,1250,3650.80,16719.45
2,13900,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13900.00,6,-1,-14.285714,5,0.0,2821.90,216.40,8.305508,2850,200,50,2806.05,100,2827.30,16719.45
3,13950,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13950.00,1,0,0.000000,0,0.0,2613.85,0.00,0.000000,1250,50,1250,1881.10,50,3456.55,16719.45
4,14000,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE14000.00,9949,-699,-6.564613,979,0.0,2722.30,130.35,5.029032,5650,1000,50,2715.05,50,2724.85,16719.45

In [104]:
LST = []
for i in d['filtered']['data']:
  LST.append(i['PE'])

In [123]:
df5 = pd.DataFrame(LST)

In [124]:
df5.head()

,strikePrice,expiryDate,underlying,identifier,openInterest,changeinOpenInterest,pchangeinOpenInterest,totalTradedVolume,impliedVolatility,lastPrice,change,pChange,totalBuyQuantity,totalSellQuantity,bidQty,bidprice,askQty,askPrice,underlyingValue
0,13800,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022PE13800.00,12239,1855,17.864022,9135,53.60,0.75,-0.20,-21.052632,326150,111500,29700,0.65,2950,0.75,16719.45
1,13850,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022PE13850.00,421,56,15.342466,1654,51.97,0.65,-0.35,-35.000000,48550,12000,6850,0.65,6600,0.80,16719.45
2,13900,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022PE13900.00,1263,156,14.092141,1853,52.69,0.90,-0.25,-21.739130,69150,3700,600,0.85,300,0.95,16719.45
3,13950,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022PE13950.00,229,114,99.130435,471,51.17,0.80,-0.25,-23.809524,31050,4800,2350,0.80,2000,0.95,16719.45
4,14000,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022PE14000.00,39206,4655,13.472837,25131,50.26,0.80,-0.25,-23.809524,371850,85350,26400,0.70,14200,0.80,16719.45

In [111]:
lst2 = []
for i in df5.columns:
  lst2.append('put_' + i)

In [125]:
df5.columns = lst2

In [126]:
df5.drop(['put_expiryDate','put_strikePrice','put_underlying','put_identifier'],axis=1,inplace=True)

In [127]:
df5

,put_openInterest,put_changeinOpenInterest,put_pchangeinOpenInterest,put_totalTradedVolume,put_impliedVolatility,put_lastPrice,put_change,put_pChange,put_totalBuyQuantity,put_totalSellQuantity,put_bidQty,put_bidprice,put_askQty,put_askPrice,put_underlyingValue
0,12239,1855,17.864022,9135,53.60,0.75,-0.20,-21.052632,326150,111500,29700,0.65,2950,0.75,16719.45
1,421,56,15.342466,1654,51.97,0.65,-0.35,-35.000000,48550,12000,6850,0.65,6600,0.80,16719.45
2,1263,156,14.092141,1853,52.69,0.90,-0.25,-21.739130,69150,3700,600,0.85,300,0.95,16719.45
3,229,114,99.130435,471,51.17,0.80,-0.25,-23.809524,31050,4800,2350,0.80,2000,0.95,16719.45
4,39206,4655,13.472837,25131,50.26,0.80,-0.25,-23.809524,371850,85350,26400,0.70,14200,0.80,16719.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,0,0.000000,0,0.00,2011.00,0.00,0.000000,0,1250,0,0.00,1250,2714.40,16719.45
96,67,-2,-2.898551,2,75.26,1969.45,-16.85,-0.848311,1550,1550,1250,1817.35,1350,1939.70,16719.45
97,2,0,0.000000,0,0.00,2350.00,0.00,0.000000,1250,100,1250,1138.75,100,2814.35,16719.45
98,1304,-51,-3.763838,76,52.01,1973.90,-135.95,-6.443586,400,150,200,1973.15,50,1983.25,16719.45
99,263,-30,-10.238908,36,67.86,2070.00,-74.20,-3.460498,1350,850,1000,2018.40,100,2031.95,16719.45

In [133]:
DF = pd.concat([df4,df5],axis=1)

In [135]:
DF.head()

,strikePrice,expiryDate,underlying,identifier,call_openInterest,call_changeinOpenInterest,call_pchangeinOpenInterest,call_totalTradedVolume,call_impliedVolatility,call_lastPrice,...,put_lastPrice,put_change,put_pChange,put_totalBuyQuantity,put_totalSellQuantity,put_bidQty,put_bidprice,put_askQty,put_askPrice,put_underlyingValue
0,13800,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13800.00,928,-39,-4.033092,47,0.0,2916.15,...,0.75,-0.20,-21.052632,326150,111500,29700,0.65,2950,0.75,16719.45
1,13850,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13850.00,2,0,0.000000,0,0.0,2235.70,...,0.65,-0.35,-35.000000,48550,12000,6850,0.65,6600,0.80,16719.45
2,13900,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13900.00,6,-1,-14.285714,5,0.0,2821.90,...,0.90,-0.25,-21.739130,69150,3700,600,0.85,300,0.95,16719.45
3,13950,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE13950.00,1,0,0.000000,0,0.0,2613.85,...,0.80,-0.25,-23.809524,31050,4800,2350,0.80,2000,0.95,16719.45
4,14000,28-Jul-2022,NIFTY,OPTIDXNIFTY28-07-2022CE14000.00,9949,-699,-6.564613,979,0.0,2722.30,...,0.80,-0.25,-23.809524,371850,85350,26400,0.70,14200,0.80,16719.45

In [141]:
datatoexcel = pd.ExcelWriter('NSE11.xls')
DF.to_excel(datatoexcel)
datatoexcel.save()